@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/*@font-face {
	  font-family: 'Tournedos-Regular';
	  src: url('/fonts/Tournedos-Regular.ttf')
	}*/
	@font-face {
	  font-family: CCMarianChurchland-Regular;
	  src: url(/fonts/CCMarianChurchland-Regular.ttf);
	}
	#characters {
	    font-family: 'CCMarianChurchland-Regular';
	}
}